:root {
    --violeta-reca: #5D2A5E; /* El color violeta de tu marca */
    --gris-claro: #f4f7f9;
}

body {
    background-color: var(--gris-claro);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.header-reca {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    max-width: 150px; /* Ajusta el tamaño de tu logo aquí */
    height: auto;
}

#candidatos-reca {
    max-width: 450px;
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* Stepper en Violeta */
.stepper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.step {
    font-size: 12px;
    color: #ccc;
}

.step.active {
    color: var(--violeta-reca);
    font-weight: bold;
    border-bottom: 2px solid var(--violeta-reca);
}

/* Inputs */
label {
    font-size: 13px;
    font-weight: bold;
    color: #444;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
}

/* Botón en Violeta RECA */
#btn-siguiente {
    width: 100%;
    background-color: var(--violeta-reca);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 25px;
    transition: background 0.3s;
}

#btn-siguiente:hover {
    background-color: #4a214b; /* Un violeta un poco más oscuro al pasar el mouse */
}

.hidden { display: none; }
